@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* 
    //====== Style Arabic ======//
    A- Variables Styles .
    B- Style Genaral Classes .
    E- Import Style Components .
      E-1- Import Style Navbar Component .
      E-2- Import Style About Us Page .
      E-3- Import Style Home Page .
      E-4- Import Style Footer Component .
      E-5- Import Style Projects Component .
      E-6- Import Style Project Component .
 */
 /*

$primary-color: #072d4d;
$secondary-color: #f69c22;
$white-color: #ffffff;
$black-color: #000000;
$backgroundtwo: #eaeaea;
$red-color: red;
$green-color: #008f34;
$font14: 14px;
$font12: 12px;
$font18: 18px;
*/
// A- Variables Styles
// Palette Color
$red: #A71A28;
$blue:#3E6990;
$green:#79C99E;
$gray: #444444;
$dark_blue:#00072D;
$white_one:#FCFCFC;
$white_two: #F9ECEC;
$white_three:#FEFEFE;
$black:#000000;
// Palette Fonts Size
$font_61:61px;
$font_49:49px;
$font_39:39px;
$font_31:31px;
$font_25:25px;
$font_20:20px;
$font_16:16px;
$font_14:14px;
// Font Family
$font_lato: 'Lato', sans-serif;
$font_poppins: 'Poppins', sans-serif;
// B- Style Genaral Classes .
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    box-sizing: border-box;
    font-family: $font_lato;
    background-color: #FFFEFE;
    direction: rtl;
  }
  .owl-stage-outer{
    direction: ltr !important;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  
  button:hover {
    background-color: inherit;
    color: inherit;
  }
  button:focus {
    background-color: inherit;
    color: inherit;
  }
  // E- Import Style Components .

  // E-1- Import Style Navbar Component .
  @import "./componentar/navbar.scss";
  // E-2- Import Style About Us Page .
  @import "./componentar/about.scss";
  // E-3- Import Style Home Page .
  @import "./componentar/home.scss";
  // E-4- Import Style Footer Component .
  @import "./componentar/footer.scss";
  // E-5- Import Style Projects Component .
  @import "./componentar/projects.scss";
  // E-6- Import Style Project Component .
  @import "./componentar/project.scss";

