/*
  A- Style Header Component .
  B- Style Header Component To Media Queris.
  c- Style Header Home Component To Media Queris.
  D- Style Owl Carousel Component.
  E- Style Featured Component.
  F- Style Header Home Component To Media Queris.
*/

// A- Style Header Home Component
.header {
  &__home {
    height: 590px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .overlead {
      width: 100%;
      height: 100%;
      background: rgba(29, 29, 29, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &__detiles {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 900px;
      height: 400px;
      h3 {
        &:first-of-type {
          font-weight: bold;
          width: 536px;
          span {
            color: $red;
          }
        }
        &:last-of-type {
          width: 390px;
          font-weight: 400px;
        }
        font-family: $font_lato;
        background-color: $white_three;
        height: 75px;
        line-height: 75px;
        font-size: $font_49;
        text-align: center;
        color: $dark_blue;
        margin-bottom: 20px;
      }
    }
    &__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      .input__datalist {
        margin: 0;
        background-color: $white_three;
        .select{
          padding: 0px 8px;
          background-color: $white_three;
          height: 80px !important;
          width: 220px !important;
          font-style: normal;
          font-weight: 600;
          font-size: $font_20;
          line-height: 24px;
          color: $gray;
          padding: 0 15px;
          border: none;
          outline: none;
          margin-right: 10px;
          &:focus {
            border: none;
            outline: none;
          }
          option{
            &:first-of-type{
              opacity: .8;
            }
          }
        }
      }
      button {
        background-color: $red;
        color: $white_three;
        height: 80px;
        width: 150px;
        font-family: $font_poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        &:hover {
          background-color: $red;
          color: $white_three;
        }
      }
    }
  }
}
// B- Style Header Home Component To Media Queris.
@media screen and(max-width: 762px) {
  .header {
    &__home {
      &__detiles {
        width: 95%;
        height: 90%;
        h3 {
          &:first-of-type {
            font-weight: bold;
            width: 360px;
            span {
              color: $red;
            }
          }
          &:last-of-type {
            width: 280px;
            font-weight: 400px;
          }
          font-size: $font_31;
        }
      }
      &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        .input__datalist {
          margin-bottom: 2px;
          .select {
            height: 65px;
            width: 300px;
          }
        }
        button {
          width: 300px;
        }
      }
    }
  }
}
// C- Style Header Home Component To Media Queris.
.home {
  &__section {
    margin: 25px 0;
    padding: 10px 0;
  }
  &__header {
    margin: 50px 0 20px 0;
    text-align: center;
    height: 30px;
    h2 {
      font-family: $font_lato;
      font-style: normal;
      font-weight: 600;
      font-size: $font_25;
      line-height: 30px;
      margin: 0;
      height: 100%;
      text-transform: uppercase;
      &::before {
        content: "";
        width: 100px;
        height: 2px;
        background-color: $red;
        display: inline-block;
        margin: 0 15px 10px 0;
      }
      &::after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: $red;
        display: inline-block;
        margin: 0 0 10px 15px;
      }
    }
  }

  &__contener {
    width: 95%;
    margin: 0 auto;
  }
}
// D- Style Owl Carousel Component .
.home {
  // Owl Carousel Developers
  .owl-developers {
    width: 95%;
    .img {
      width: 100% !important;
      height: 235px !important;
      img {
        width: 100% !important;
        height: 235px !important;
      }
    }
  }
}
.latest__project__item {
  border-radius: 5px !important;
  -webkit-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
  -moz-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
  box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
  background-color: #ffffff;
  margin-bottom: 5px;
  text-transform: uppercase;
  width: 95%;
  height: auto;
  .img {
    border-radius: 5px 5px 0px 0px !important;
    width: 100%;
    position: relative;
    height: 480px;
    .locion {
      position: absolute;
      background-color: $white_three;
      width: 160px;
      height: 55px;
      bottom: 10px;
      right: 10px;
      text-align: center;
      line-height: 55px;
      border-radius: 5px;
      font-size: $font_16;
      margin-left: 8px;
      cursor: pointer;
    }
    img {
      border-radius: 5px 5px 0px 0px !important;
      width: 100%;
      height: 480px;
    }
  }
  .body {
    height: auto;
    width: 100%;
    padding: 15px 10px;
    background-color: #ffffff;
    border-radius: 0px 0px 5px 5px;
    h3 {
      font-size: $font_20;
      font-family: $font_lato;
      font-weight: normal;
      span {
        font-weight: bold;
      }
    }
    .detiles_project {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 15px 0;
      .locion {
        font-weight: normal;
        font-size: 16px;
        span {
          margin-left: 10px !important;
        }
      }
      .price {
        span {
          &:first-of-type {
            font-weight: normal;
            font-size: 16px;
            margin-right: 10px;
          }
          &:last-of-type {
            font-weight: 600;
            font-size: 20px;
          }
        }
      }
    }
  }
}
.btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.customNextBtn,
.customPreviousBtn {
  float: right;
  color: $black;
  padding: 5px;
  margin-left: 2px;
  cursor: pointer;
}
// E- Style Featured Component.
.home {
  // Home Featured
  &__featured {
    font-family: $font_lato;
    &__head {
      margin: 50px 0 20px 0;
      text-align: center;
      height: 30px;
      text-transform: uppercase;
      h2 {
        font-style: normal;
        font-weight: 600;
        font-size: $font_25;
        line-height: 30px;
        margin: 0;
        height: 100%;
        position: relative;
        margin: 0 auto;
        width: 300px;
        &::after {
          content: "";
          width: 200px;
          height: 2px;
          background-color: $red;
          display: inline-block;
          position: absolute;
          bottom: -15px;
          z-index: 2;
          left: 50px;
        }
      }
    }
    &__lest {
      margin-top: 30px;
      padding: 10px 0;
    }
    &__item {
      border-radius: 5px;
      background: #ffffff;
      -webkit-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
      -moz-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
      box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
      border-radius: 5px;
      width: 100%;
      height: auto;
      .img {
        border-radius: 5px 5px 0px 0px !important;
        height: 350px;
        width: 100%;
        position: relative;
        img {
          border-radius: 5px 5px 0px 0px !important;
          width: 100%;
          height: 350px;
        }
        .sale {
          position: absolute;
          background-color: $white_three;
          bottom: 10px;
          right: 10px;
          text-align: center;
          line-height: 35px;
          border-radius: 5px;
          font-size: $font_16;
          font-weight: 600;
          margin-left: 8px;
          color: $red;
          width: 90px;
          height: 35px;
          cursor: pointer;
        }
      }
      .body {
        height: auto;
        padding: 20px 15px;
        width: 100%;
        background-color: #ffffff;
        border-radius: 0px 0px 5px 5px;
        .head {
          font-family: $font_lato;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          text-transform: uppercase;
          h3 {
            font-size: $font_25;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            letter-spacing: 0em;
            color: #112211;
          }
        }
        .loction {
          margin: 15px 0 20px 0;
          color: #828282;
          font-family: $font_lato;
          font-size: $font_16;
          font-style: normal;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          cursor: pointer;
          span {
            margin-left: 15px;
          }
        }
        .details {
          color: #6b6767;
          font-family: $font_lato;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-style: normal;
          font-weight: 600;
          font-size: $font_16;
          span {
            margin-left: 10px;
          }
        }
      }
    }
  }
  &__communication {
    margin-bottom: 60px;
    &__head {
      margin: 50px 0 45px 0;
      text-align: center;
      height: 30px;
      text-transform: uppercase;
      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: $font_25;
        line-height: 30px;
        margin: 0;
        height: 100%;
        position: relative;
        width: 300px;
        text-align: left;
        color: #000000;
        &::after {
          content: "";
          width: 140px;
          height: 2px;
          background-color: $red;
          display: inline-block;
          position: absolute;
          bottom: -15px;
          left: 0;
          z-index: 2;
        }
      }
    }
    &__form {
      padding-right: 15px;
      width: 100%;
      height: auto;
      input {
        width: 100%;
        height: 60px;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        margin-bottom: 15px;
        color: #b2b2b2;
        font-weight: normal;
        font-size: 16px;
      }
      textarea {
        width: 100%;
        height: 145px;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        margin-bottom: 15px;
        color: #b2b2b2;
        font-weight: normal;
        font-size: 16px;
      }
      button {
        width: 100%;
        background-color: $red;
        color: $white_three;
        height: 60px;
        font-family: Lato;
        font-size: $font_20;
        font-style: normal;
        font-weight: 700;
        letter-spacing: 0.04em;
        text-align: center;
        &:hover {
          background-color: $red;
          color: $white_three;
        }
      }
    }
    &__office {
      height: 310px;
      border-left: 2px solid $red;
      padding-left: 30px;
      font-family: $font_lato;
      color: #363636;
      h3 {
        font-size: $font_20;
        font-weight: bold;
        margin-bottom: 30px;
        color: #363636;
      }
      ul {
        li {
          font-size: $font_20;
          margin-bottom: 20px;
          color: #363636;
          span {
            font-weight: normal;
            font-size: 20px;
            margin-left: 15px;
          }
        }
        .socilemediu {
          font-size: $font_31;
          color: #363636;
          span {
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// F- Style Header Home Component To Media Queris.
@media screen and(max-width: 991px) {
  .home {
    &__communication {
      &__form {
        padding-bottom: 15px;
        padding-right: 0;
      }
      &__office {
        border-top: 2px solid $red;
        border-left: none;
        padding-top: 30px;
        padding-left: 0;
      }
    }
  }
}
