/*
  A- Style Projects Page .
    A- 1- Style Projects Head Component .
    A- 2- Style Projects Form Component .
    A- 3- Style Projects Detiles Component .
    A- 4- Style Projects Cards Component .
    A- 5- Style Projects Card Component .
    A- 6- Style Projects Pagination Component .
  B- Style Properties Page .
    B-1- Style Properties Card Component .
  C-Style Projects && Properties Page To Media Queries In The Max Width ("1831px").
  D-Style Projects && Properties Page To Media Queries In The Max Width ("1421px").
  E-Style Projects && Properties Page To Media Queries In The Max Width ("991px").
*/

// A- Style Projects Page .
.projects {
  // A- 1- Style Projects Head Component .
  &__head {
    margin: 15px 0 25px 0;
  }
  &__contener {
    width: 95%;
    margin: 0 auto;
  }
  // A- 2- Style Projects Form Component .
  &__form {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .input__search {
      width: 450px;
      height: 48px;
      overflow: hidden;
      position: relative;
      font-weight: normal;
      font-size: $font_16;
      span {
        position: absolute;
        display: inline-block;
        height: 48px;
        color: #727272;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 30px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        cursor: pointer;
      }
      input {
        float: left;
        width: calc(450px - 120px);
        height: 48px;
        background: #ffffff;
        border: 1px solid #d4d4d4;
        box-sizing: border-box;
        border-radius: 2px 0 0 2px;
        outline: none;
        color: #727272;
        padding-left: 35px;
      }
      button {
        float: left;
        width: 120px;
        height: 48px;
        height: 48px;
        background: $red;
        color: $white_three;
        border-radius: 0px 2px 2px 0px;
        box-sizing: border-box;
        outline: none;
        font-weight: 600;
      }
    }
    .input__type {
      width: 260px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 2px;
      .select{
        padding: 5px;
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid #d4d4d4;
        background-color: $white_three;
        color: $gray;
        &:focus {
          border: none;
          outline: none;
        }
        option{
          &:first-of-type{
            opacity: .8;
          }
        }
      }

    }
    .input__project {
      width: 260px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 2px;
      .select{
        padding: 5px;
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid #d4d4d4;
        background-color: $white_three;
        color: $gray;
        &:focus {
          border: none;
          outline: none;
        }
        option{
          &:first-of-type{
            opacity: .8;
          }
        }
      }
    }
    .input__developers {
      width: 260px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 2px;
      .select{
        padding: 5px;
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid #d4d4d4;
        background-color: $white_three;
        color: $gray;
        &:focus {
          border: none;
          outline: none;
        }
        option{
          &:first-of-type{
            opacity: .8;
          }
        }
      }
    }
    .input__price {
      width: 260px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 2px;
      .select{
        padding: 5px;
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid #d4d4d4;
        background-color: $white_three;
        color: $gray;
        &:focus {
          border: none;
          outline: none;
        }
        option{
          &:first-of-type{
            opacity: .8;
          }
        }
      }
    }
    .input__more {
      width: 220px;
      height: 48px;
      background: #ffffff;
      border: 1px solid #d4d4d4;
      box-sizing: border-box;
      border-radius: 2px;
      .select{
        padding: 5px;
        width: 100%;
        height: 48px;
        outline: none;
        border: 1px solid #d4d4d4;
        background-color: $white_three;
        color: $gray;
        &:focus {
          border: none;
          outline: none;
        }
        option{
          &:first-of-type{
            opacity: .8;
          }
        }
      }
    }
  }
  // A- 3- Style Projects Detiles Component .
  &__detiles {
    .heads {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $font_lato;
      margin-bottom: 25px;
      .header {
        font-style: normal;
        font-weight: bold;
        font-size: $font_20;
        line-height: 120%;
        color: #787878;
      }
      .sort {
        button {
          color: $dark_blue;
          font-style: normal;
          font-weight: 600;
          font-size: $font_16;
        }
      }
    }
  }
  // A- 4- Style Projects Cards Component .
  &__cards {
    margin: 25px 0;
  }
  // A- 5- Style Projects Card Component .
  &__card {
    width: 100%;
    min-height: 520px;
    max-height: auto;
    filter: drop-shadow(0px 3.16315px 15.8157px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    margin: 15px;
    font-family: $font_lato;
    -webkit-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    -moz-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    .img {
      width: 100%;
      border-radius: 5px 5px 0px 0px !important;
      position: relative;
      .locion {
        position: absolute;
        background-color: $white_three;
        width: 160px;
        height: 55px;
        bottom: 10px;
        right: 10px;
        text-align: center;
        line-height: 55px;
        border-radius: 5px;
        font-size: $font_16;
        margin-left: 8px;
        cursor: pointer;
        z-index: 3;
        span {
          margin-left: 10px;
        }
      }
      img {
        border-radius: 5px 5px 0px 0px !important;
        width: 100%;
        height: 400px;
      }
    }
    .body {
      background: #ffffff;
      width: 100%;
      min-height: 120px;
      max-height: auto;
      padding: 15px 25px;
      border-radius: 0px 0px 5px 5px !important;
      h3 {
        font-family: $font_lato;
        color: #3d3d3d;
        font-style: normal;
        font-weight: bold;
        font-size: $font_20;
        line-height: 120%;
        text-transform: uppercase;
      }
      .detiles_project {
        font-family: $font_lato;
        font-style: normal;
        font-weight: normal;
        font-size: $font_16;
        color: #3d3d3d;
        .locion {
          margin: 8px 0;
          text-transform: uppercase;
        }
        .price {
          span {
            &:first-of-type {
              margin: 0px 4px;
            }
            &:last-of-type {
              font-weight: 600;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
  // A- 6- Style Projects Pagination Component .
  &__pagination {
    margin-bottom: 50px;
    font-family: $font_lato;
    .pagination__previous {
      font-style: normal;
      font-weight: 600;
      font-size: $font_16;
      color: #a4a4a4;
      border: none;
    }
    .page-item {
      color: #636363;
    }
    .page-item.pagination__previous,
    .page-item.pagination__next {
      .page-link {
        color: #000000;
      }
    }
    .page-item.disabled {
      .page-link {
        color: #a4a4a4;
      }
    }
    .page-item.active .page-link {
      z-index: 3;
      color: $red;
      background-color: transparent;
      border-bottom: 2px solid $red;
    }
    .page-link {
      font-family: $font_lato;
      font-style: normal;
      font-weight: 600;
      font-size: $font_16;
      color: #636363;
      border: none;
      outline: none;
      &:focus {
        background-color: transparent;
        border: none;
        outline: none;
      }
      &:hover {
        background-color: transparent;
        border: none;
        outline: none;
      }
      span {
        margin: 0 5px;
      }
    }
  }
}
// B- Style Properties Page .
.propertie {
  // B-1- Style Properties Card Component .
  &__card {
    width: 100%;
    min-height: 560px;
    max-height: auto;
    filter: drop-shadow(0px 3.16315px 15.8157px rgba(0, 0, 0, 0.15));
    border-radius: 5px;
    margin: 15px 0;
    font-family: $font_lato;
    -webkit-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    -moz-box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    box-shadow: 4px 7px 10px -4px rgba(143, 143, 143, 1);
    .img {
      width: 100%;
      height: 400px;
      border-radius: 5px 5px 0px 0px !important;
      width: 100%;
      position: relative;
      .sale {
        position: absolute;
        background-color: $white_three;
        bottom: 10px;
        right: 10px;
        text-align: center;
        line-height: 35px;
        border-radius: 5px;
        font-size: $font_16;
        font-weight: 600;
        margin-left: 8px;
        color: $red;
        width: 90px;
        height: 35px;
        cursor: pointer;
      }
      img {
        border-radius: 5px 5px 0px 0px !important;
        width: 100%;
        height: 400px;
      }
    }
    .body {
      padding: 20px 15px;
      min-height: 150px;
      max-height: auto;
      border-radius: 0px 0px 5px 5px !important;
      .head {
        font-family: $font_lato;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-transform: uppercase;
        h3 {
          font-size: $font_25;
          font-style: normal;
          font-weight: 600;
          line-height: 30px;
          letter-spacing: 0em;
          color: #112211;
        }
      }
      .loction {
        margin: 15px 0 20px 0;
        color: #828282;
        font-family: $font_lato;
        font-size: $font_16;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        span {
          margin-left: 15px;
        }
      }
      .details {
        color: #6b6767;
        font-family: $font_lato;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-style: normal;
        font-weight: 600;
        font-size: $font_16;
        span {
          margin-left: 10px;
        }
      }
    }
  }
}
// C-Style Projects && Properties Page To Media Queries In The Max Width ("1831px").
@media screen and(max-width: 1831px) {
  // Style Projects Page
  .projects {
    &__form {
      padding: 10px;
      .input__search {
        width: 350px;
        height: 48px;
        overflow: hidden;
        position: relative;
        font-weight: normal;
        font-size: $font_16;
        input {
          width: calc(350px - 80px);
        }
        button {
          float: left;
          width: 80px;
          font-weight: 500;
        }
      }
      .input__type {
        width: 200px;
      }
      .input__project {
        width: 200px;
      }
      .input__developers {
        width: 200px;
      }
      .input__price {
        width: 200px;
      }
      .input__more {
        width: 180px;
      }
    }
  }
}
// D-Style Projects && Properties Page To Media Queries In The Max Width ("1421px").
@media screen and(max-width: 1421px) {
  // Style Projects Page
  .projects {
    &__form {
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .input__search {
        margin: 5px 0;
      }
      .input__type {
        margin: 5px 0;
      }
      .input__project {
        margin: 5px 0;
      }
      .input__developers {
        margin: 5px 0;
      }
      .input__price {
        margin: 5px 0;
      }
      .input__more {
        margin: 5px 0;
      }
    }
  }
}
// E-Style Projects && Properties Page To Media Queries In The Max Width ("991px").
@media screen and(max-width: 991px) {
  .projects {
    &__form {
      padding: 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .input__search {
        margin: 5px 0;
      }
      .input__type {
        margin: 5px 0;
        width: 350px;
      }
      .input__project {
        margin: 5px 0;
        width: 350px;
      }
      .input__developers {
        margin: 5px 0;
        width: 350px;
      }
      .input__price {
        margin: 5px 0;
        width: 350px;
      }
      .input__more {
        margin: 5px 0;
        width: 350px;
      }
    }
  }
}
