/* 
    A- Style Header Component .
    B- Style About Section Component .
    C- Style About Property Component .
    E- Style About Component To Media Queris .
 */
 
// A- Style Header Component.
.header {
  &__about {
    width: 100%;
    height: 420px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .overlead {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(167, 26, 40, 0.5);
    }
    &__logo {
      width: 140px;
      height: 140px;
      background-color: $white_three;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
      img {
        width: 60px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
// B- Style About Section Component
.aboutus {
  &__section {
    margin: 25px 0;
    padding: 10px 0;
  }
  &__header {
    margin: 50px 0 20px 0;
    text-align: center;
    height: 30px;
    h2 {
      font-family: $font_lato;
      font-style: normal;
      font-weight: 600;
      font-size: $font_25;
      line-height: 30px;
      margin: 0;
      height: 100%;
      text-transform: uppercase;
      &::before {
        content: "";
        width: 100px;
        height: 2px;
        background-color: $red;
        display: inline-block;
        margin: 0 15px 10px 0;
      }
      &::after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: $red;
        display: inline-block;
        margin: 0 0 10px 15px;
      }
    }
  }
  &__connect {
    text-align: center;
    width: 60%;
    margin: 15px auto;
    font-family: $font_lato;
    font-size: $font_16;
    font-weight: normal;
    color: $black;
  }
  &__items {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }
  &__contener {
    width: 95%;
    margin: 0 auto;
  }
  &__item {
    font-family: $font_lato;
    color: $black;
    margin: 15px 0;
    span {
      color: $red;
      display: inline-block;
      font-size: $font_31;
    }
    h4 {
      font-size: $font_20;
      margin: 20px 0;
      font-weight: 600;
      text-transform: uppercase;
    }
    div {
      font-size: $font_16;
      color: #444343;
    }
    h3 {
      font-family: $font_lato;
      font-weight: 600;
      font-size: $font_31;
      margin-bottom: 20px;
      color: $black;
      text-transform: uppercase;
    }
    p {
      font-family: $font_lato;
      font-weight: 500;
      font-size: $font_20;
      color: $black;
      text-transform: uppercase;
    }
  }
  &__whyus {
    font-family: $font_lato;
    color: $black;
    margin: 15px 0;
    font-family: $font_lato;
    span {
      color: $red;
      display: inline-block;
      margin-left: 10px;
      font-size: 17px;
    }
    p {
      display: inline-block;
      font-weight: 500;
      font-size: $font_20;
      color: $black;
      text-transform: uppercase;
    }
  }
// C- Style About Property Component
  &__property {
    margin: 25px 0;
    width: 100%;
    min-height: 320px;
    max-height: auto;
    background: #eef6fa;
    position: relative;
    &__detiles {
      position: absolute;
      width: 418px;
      height: 203px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      text-transform: uppercase;
      font-family: $font_lato;
      h5 {
        font-size: 39px;
      }
      h3 {
        font-size: 39px;
        font-weight: bold;
      }
      button {
        width: 298px;
        background-color: $red;
        color: $white_three;
        font-weight: bold;
        font-size: $font_20;
        padding: 10px 15px;
        box-sizing: border-box;
        &:hover {
          background-color: transparent;
          color: $black;
          border: 2px solid $red;
        }
      }
    }
    &__left,
    &__right {
      position: absolute;
      width: 431px;
      height: 100%;
      top: 0;
      background-size: cover;
    }
    &__left {
      left: 0;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    &__right {
      right: 0;
    }
  }
}

// E- Style About Component To Media Queris.
@media screen and(max-width: 991px) {
  .aboutus {
    &__header {
      h2 {
        font-size: $font_20;
        &::before {
          width: 50px;
        }
        &::after {
          width: 50px;
        }
      }
    }
    &__connect {
      width: 90%;
      font-size: $font_14;
    }
    &__item {
      span {
        font-size: $font_25;
      }
      h3 {
        font-size: $font_25;
      }
    }
    &__property {
      &__left,
      &__right {
        display: none;
      }

    }
  }
}
